In [1]:
import pandas as pd

In [3]:
df1= pd.read_csv(r"C:\Users\Dell\Desktop\bmw-tasks\table_1.csv", encoding= "utf-8", delimiter= ";")

In [5]:
df1.head(20)

    ID  UKL  GJAH  ZIK   HUI   ERZ    CDx BJZHD  NKJUD        LPI  BJKG
0    0  160  oooo    x  oooo   www    5.0  vvvv   80.0   800000.0  qqqq
1    1  153   rrr  NaN   uuu  pppp    0.0   mmm  200.0  2000000.0  qqqq
2    2    5  oooo    x  oooo   www   19.0    hh   96.0   960000.0    hh
3    3    9  oooo  NaN  oooo   www  120.0   kkk    0.0        0.0   qqq
4    4   40  oooo    y  oooo   www    0.0   mmm  232.0  2320000.0  qqqq
5    5    8   rrr    y  oooo  pppp    0.0   kkk  160.0  1600000.0  hhhh
6    6  152  oooo  NaN  oooo   www    1.0   lll  276.0  2760000.0   lll
7    7  176   rrr  NaN  oooo  pppp  204.0  vvvv  280.0  2800000.0  hhhh
8    8  154  oooo  NaN  oooo   www  140.0  vvvv  220.0  2200000.0  qqqq
9    9   95  oooo  NaN  oooo   www   13.0  vvvv  320.0  3200000.0  hhhh
10  10  121  oooo    y  oooo   www    1.0   sss  280.0  2800000.0  hhhh
11  11  155   rrr    y  oooo  pppp   20.0   lll  160.0  1600000.0   lll
12  12   91   rrr    y  oooo  pppp    0.0   sss  340.0  3400000.0  hhhh
13  13   91  oooo  NaN  oooo   www    1.0   yyy  120.0  1200000.0  qqqq
14  14   91  oooo    x  oooo   www    1.0   yyy  120.0  1200000.0  hhhh
15  15   19   rrr  NaN  oooo  pppp    1.0    hh  120.0  1200000.0    hh
16  16  125  oooo    y  oooo   www    0.0   kkk  178.0  1780000.0    yy
17  17  128  oooo    y  oooo   www    0.0  vvvv  120.0  1200000.0  qqqq
18  18   37  oooo    x  oooo   www   21.0  vvvv  416.0  4160000.0  hhhh
19  19   31  oooo    y  oooo   www    0.0   kkk  180.0  1800000.0    yy

In [6]:
df2= pd.read_csv(r"C:\Users\Dell\Desktop\bmw-tasks\table_2.csv", encoding= "utf-8", delimiter= ";")

In [7]:
df2.head(20)

    POUG    TRE  ID ZUB VOL   UIO VBNM Type    OIN
0      1  1.750   0   t   f  uuuu    t    n  17.92
1      0  0.290   1   f   f  wwww    f    n  16.92
2      1  0.000   2   f   f  wwww    t    n  31.25
3      0  0.335   3   f   f  uuuu    f    n  48.17
4      0  0.500   4   t   f  wwww    f    n  32.33
5      0  0.500   5   t   f  uuuu    f    n  34.83
6      0  0.000   6   t   f  uuuu    f    n  26.17
7      0  0.250   7   f   f  wwww    f    n  21.17
8      0  0.290   8   f   f  wwww    f    n  28.92
9      0  1.085   9   f   f  wwww    f    n  18.17
10     0  1.500  10   f   f  uuuu    f    n  24.75
11     0  0.000  11   f   f  uuuu    f    n  31.75
12     0  0.165  12   f   f  uuuu    f    n  18.17
13     1  1.000  13   f   f  uuuu    t    n  18.25
14     1  0.165  14   f   f  wwww    t    n  17.58
15     0  1.500  15   f   f  wwww    f    n  51.83
16     0  0.000  16   t   f  wwww    f    n  26.67
17     0  0.500  17   f   t  wwww    f    n  31.42
18     1  2.290  18   t   f  wwww    t    n  25.67
19     0  0.000  19   f   f  wwww    f    n  33.75

In [8]:
merged_data = pd.merge(table_1, table_2, on='ID')

NameError: name 'table_1' is not defined